:root {
  /* Phần khai báo chung */
  --Theme-color: rgb(254, 174, 165);
  --Background-color: rgb(45, 48, 63);
  --Padding-Both-side: 3%;
  /* Phần hình ảnh và tiêu đề đầu trang */
  --Top-image-height: 300px;
  /* Phần nội dung chính của web */
  --Left-content: 70%;
  /* Phần nội dung bên phải */
  --Right-top-margin:20px;
  --Right-top-content-margin:35px;
  --Right-top-content-padding:10%;
  --Right-box-color:rgb(79,79,91);
}
body {
  box-sizing: border-box;
  background-color: var(--Background-color);
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
html{
  font-size: 16px;
}
/* ####Phần khai báo chung#### */
.centering{
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.flexbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
a:link {
  color: white;
}
a:visited {
  color: white;
}
a {
  text-decoration: none;
  font-variant: small-caps;
}
.creBox{
  box-sizing: border-box;
  width: 100%;
  background-color: var(--Right-box-color);
  margin-top: var(--Right-top-margin);
  box-shadow: 1px 1px 2px black;
  text-align: center;
  padding-left: var(--Right-top-content-padding);
  padding-right: var(--Right-top-content-padding);
}
.creBox-title{
  font-variant: small-caps;
  border-bottom: 2px solid var(--Theme-color);
  display: inline-block;
  padding-bottom: 3px;
  margin-top: var(--Right-top-content-margin) !important;
}
/* ####Phần hình ảnh và tiêu đề đầu trang#### */
.topImage {
  position: relative;
  background-image: url(/images/background-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  height: var(--Top-image-height);
  margin: 0px;
  top: 0px;
}
.blogerName {
  text-align: center;
  position: absolute;
}
.name-1 {
  position: relative;
  font-size: 4rem;
  display: inline-block;
  overflow: hidden;
}
.title-1 {
  position: relative;
  height: 20px;
  display: inline-block;
}

/* ####Thanh nội dung#### */
.contentBar {
  background-color: var(--Theme-color);
  width: 100%;
  align-items: center;
  justify-content: center;
  overflow: auto;
  box-shadow: 1px 1px 2px black;
}
.contentItem {
  box-sizing: border-box;
  width: 100px;
  height: 35px;
  margin: 0px 5px;
  text-align: center;
  padding: 10px;
}
.contentItem a {
  text-decoration: none;
  font-variant: small-caps;
  font-weight: bold;
}
.contentItem a:link {
  color: var(--Background-color);
}
.contentItem a:visited {
  color: var(--Background-color);
}
.contentItem:hover{
  font-size: 18px;
  background-color: rgb(241, 147, 137);
  
}
.contentHover{
  position: absolute;
  z-index: 3;
  background-color: var(--Theme-color);
  display: block;
  margin: 5px;
  padding: 5px;
  box-shadow: 1px 1px 2px black;
  display: none;
}
.contentHover li{
  list-style: none;
}
.contentItem:hover .contentHover{
  display: block;
}
/* ####Thumbnail bên dưới thanh nội dung#### */
.bigThumbnail {
  box-sizing: border-box;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 30px var(--Padding-Both-side) 0px;
}
.thumbnailItem {
  position: relative;
  box-sizing: border-box;
  width: 32%;
  height: 250px;
  margin-top: 0px;
  margin-bottom: 5px;
  background-size: cover; /*Thay đổi được */
  background-repeat: no-repeat;
  box-shadow: 1px 1px 2px black;
}
.active{
  display: block !important;
}
.arrow{
  display: none;
}
.thumbnailItem:first-child {
  background-image: url(/images/thumbnail1.jpg);
  background-position: center;
}
.thumbnailItem:nth-child(2) {
  background-image: url(/images/thumbnail2.jpg);
  background-position: center;
}
.thumbnailItem:nth-child(3) {
  background-image: url(/images/thumbnail3.jpg);
  background-position: center;
}
.thumbnailText {
  position: absolute;
  box-sizing: border-box;
  display: inline-block;
  border: 2px solid white;
  font-weight: bold;
  text-transform: uppercase;

  font-size: 2rem;
  width: 90%;
  height: 85%;
}
.thumbnailText p {
  position: absolute;
  box-sizing: border-box;
  display: inline-block;
  margin: 0px;
  padding: 0px;
  text-align: center;
}
.thumbnailItem:hover{
  transform:scale(1.05) ;
  transition-duration:0.5s ;
}
.thumbnailItem:hover .thumbnailText{
  color: var(--Theme-color);
  border-color: var(--Theme-color) ;
  background-color: rgba(174, 164, 164, 0.3);
  transition-duration: 0.5s;
}
/* Hiện thông tin */
.show-info{
  margin-top: 25px;
  text-align: center;
  margin-bottom: 10px;
  display: none;
}
.show-info input{
  background-color: var(--Theme-color);
  border: none;
  width: 200px;
  height: 30px;
}
/* ####Phần nội dung chính của web#### */
.mainContent {
  position: relative;
  box-sizing: border-box;
  justify-content: space-between;
  width: 100%;
  margin-top: 25px;
  padding: 0px var(--Padding-Both-side);
}
.leftContent {
  box-sizing: border-box;
  width: var(--Left-content);
}
.rightContent {
  box-sizing: border-box;
  width: calc(100% - var(--Left-content) - 3%);
}

/* ###Phần nội dung bên phải### */
/* Profile */
.profile {
  box-sizing: border-box;
  width: 100%;
  background-image: url(/images/leftprofile.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  box-shadow: 1px 1px 2px black;
}
.avatar {
  box-sizing: border-box;
  display: inline-block;
  max-width: 50%;
  border-radius: 50%;
  border: 2px solid black;
  margin-top: 40px !important;
}
.name {
  margin-top: 15px;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bolder;
}
.country {
  margin: 0px;
}
.introduce {
  padding: 0px 10%;
  margin-top: 20px;
}
.social-media{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 25px;
    padding-bottom: 30px;
}
.social-media a{
  display: inline-block;
}
.s-mItem{
    size: 10px;
    font-size: 1.5rem;
    margin: 5px 5px;
}
/* Phần danh mục (categories)*/
.cate-menu{
  text-align: start !important;
  margin-top: 20px;
  padding-bottom: 30px;
}
.cate-summary{
  box-sizing: border-box;
  cursor: pointer;
  list-style: none;
  justify-content: space-between;
  border-bottom: 1px solid var(--Background-color);
  padding-bottom: 3px;
  font-weight: bold;
  margin-top: 5px;
}
.cate-item{
  position: relative;
  left: 20px;
  flex-direction: column;
  margin-top: 5px;
}
.cate-item a{
  display: block;
  font-variant: normal;
  margin-bottom: 3px;
}
/* Phần những bài post gần đây (recent posts) */
.rec-posts-container{
  box-sizing: border-box;
  margin-top: 20px;
  text-align: center;
  width: 90%;
  padding-bottom: 20px;
}
.post{
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom: 1px solid var(--Background-color);
  padding-bottom: 5px;
  flex-wrap: nowrap;
  margin-top: 5px;
  margin-left: 5px;
}
.post > img{
  display: inline-block;
  width: 90px;
  height: 60px;
}
.post-details{
  display: inline-block;
  margin-top: 5px;
  margin-left: 5px;
}
.post-name{
  text-transform: uppercase;
  font-weight: bold;
}
.post-date{
  font-size: 0.7rem;
}

/* Phần quan điểm cá nhân (My two cents)*/
.opinion{
  margin-top: 30px;
  padding-bottom: 20px;
  text-align: start;
}
/* Phần fanpage */
.fb-page{
  width: 100%;
  margin-top: 30px;
  padding-bottom: 30px;
  overflow: auto;
}
/* Phần youtube */
.youtube{
  margin-top: 30px;
  padding-bottom: 30px;
  overflow: auto;
}
/* ###Phần nội dung bên trái### */
/* ##Phần nội dung đang đọc## */
.reading{
  text-align: center;
  box-sizing: border-box;
  border-bottom: 2px solid var(--Right-box-color);
}
/* tiêu đề */
.heading{
  margin-top: 20px;
}
.big-title{
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
}

/* Thông tin(người viết, thời gian, số comment) */
.info{
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.info > a{
  display: inline-block;
  margin-left: 20px;
}
.info i{
  color: var(--Theme-color);
}
/* hình ảnh */
.reading img{
  max-width: 100%;
}
/* phần nội dung bài viết */
.script{
  padding: 0px 50px;
  text-align: justify;
  margin-top: 20px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
/* Mở rộng ra để đọc */
.expand{
  text-align: center;
  display: inline-block;
  margin-top: 20px;
}
.expand fieldset{
  border: none;
  border-top: 2px solid var(--Theme-color);
  width: 100%;
  padding: 5px;
}
.expand .social-media{
  margin-top: 0px;
}

/* ##Menu danh sách nội dung## */
.menu-content{
  box-sizing: border-box;
  text-align: center;
  justify-content: space-between;
  width: 100%;
}
.menu-container{
  width: 100%;
}
.menu-content-title{
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu-img img{
  max-width: 100%;
  margin-top: 20px;
}
.mini-script{
  -webkit-line-clamp: 3;
  padding: 0px;
}
/* Phần chứa của một item trong danh sách */
.menu-item{
  width: 48%;
  border-bottom: 2px solid var(--Right-box-color);
}

/* ####Phần thư viện ảnh#### */
/* Phần tiêu đề */
.gallery-container{
  margin-top:100px;
  box-sizing: border-box;
  width: 100%;
  padding: 0px !important;
}
.gallery-title{
  text-align: center;
  margin-bottom: 30px;
}
.gall-big-title{
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
}
.gall-sub-title{
  font-variant: small-caps;
}
.gallery > img{
  width: 16.666666%;
}
.copyright{
  text-align: center;
  padding: 5px;
  font-size: 0.5rem;
}
/* go to top */
.gototop{
  position: fixed;
  display: inline-block;
  background-color: var(--Theme-color);
  width: 40px;
  text-align: center;
  right: 10px;
  bottom: 10px;
}
.gototop i{
  font-size: 2.5rem;
}
.gototop:hover{
  transform: scale(1.2);
  transition-duration: 0.5s;
}
/* Đổi trang */
.page-num{
  background-color: white;
  margin-left: 10px;
  width: 35px;
  height: 35px;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 50%;
  margin-top:30px;
  cursor: pointer;
  box-shadow: 1px 1px 2px black;
  text-align: center;
}
.page-num i{
  font-size: 1.5rem;
  color: var(--Background-color);
}
.page-num:first-child{
  background-color: var(--Theme-color);
}
.page{
  display: none;
}
.page-1{
  display: flex;
}